<div class="front-forms">
    <div class="container-fluid">
        <div class="login_box">
            <div class="front-logo text-center"><img src="assets/img/logo.svg" alt="Axxon" /></div>
            <form class="form-box" [formGroup]="forgotPasswordForm" (submit)="sendEmail()">
                <h2 class="text-center">Forgot Password</h2>
                <p class="text-center pb-3">Enter the email address associated <br />with your account.<p>
                        <div class="row">
                            <div class="col-12">
                                <label>Email</label>
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email">
                                    <div *ngIf="
                    forgotPasswordForm.controls['email'].hasError('required') &&
                    forgotPasswordForm.controls['email'].touched" class="text-danger">
                                        Please enter email
                                    </div>
                                    <div *ngIf="
                    forgotPasswordForm.controls['email'].hasError('pattern') &&
                    forgotPasswordForm.controls['email'].touched" class="text-danger">
                                        Please enter valid email
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-12">
                                <div class="form-group text-center">
                                    <a href="javascript:void(0)" [routerLink]="LINKS.SIGN_IN">Sign In</a>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-12">
                                <div class="mt-2 mt-lg-3">
                                    <button class="w-100 btn btn-lg btn-primary text-capitalize">Submit</button>
                                </div>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>